@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="desription-page">
    <div class="first-description">
        Examples using datatables with jQuery in ASP .NET.
    </div>
    <div class="second-description">
        Catalog
    </div>
</div>
