@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="desription-page">
    <div class="title-description">
        Basic Initialization
    </div>
    <div class="source-description">
        Source code on github.com/alejandrochavezgo/ASP-NET/
    </div>
</div>
